{% extends 'base.html' %}

{% block content %}
    <h1>Judging Dashboard</h1>
    <p>Welcome to the Judging Dashboard. As judges, here you can access the scoring system for the tournament events.</p>

    <div class="flex flex-wrap">
        <div class="w-1/2 p-4">
            <h2 class="text-2xl font-bold">Tournaments</h2>
            <p>View the list of tournaments and access the scoring system for each tournament.</p>
            <ol>
            {% for tournament in tournaments %}
                <li>
                    <a href="{% url 'tourney_scoring:tournament_dashboard' tournament_id=tournament.id %}" class="text-blue-500 hover:underline">{{tournament.name}}</a>
                </li>
            {% endfor %}
            </ol>
    </div>

{% endblock %}