{% extends 'base.html' %}
{% load static %}

{% block additional_header %}
<!-- Prominent Section -->
<style>
    /* Add custom styles for the header background image */
    #additional_header_header {
        background-image: url("{% static 'tourney_pages/images/header-bg.jpg' %}"); /* Replace with your actual image path */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    /* Add overlay to the header background image */
    #additional_header_content {
        position: relative;
        z-index: 1;
    }

    #additional_header_header::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.65;
        background-color: #000;
    }
</style>
<header id="additional_header_header" class="bg-blue-900 text-white py-16 sticky-nav">
    <div id="additional_header_content" class="container mx-auto text-center">
        <h1 class="text-4xl font-bold mb-4">6th Ohio International Chinese Martial Arts Tournament</h1>
        <p class="text-3xl text-gray-300 mb-8">Hosted by Ohio Wushu Academy</p>
        <div id="countdown_timer" class="text-3xl text-white mb-8">Starts in: </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Set the date and time of the tournament
                var tournamentDate = new Date("August 3, 2024 09:00:00").getTime();
                
                // Update the countdown every second
                var countdown = setInterval(function() {
                    // Get the current date and time
                    var now = new Date().getTime();
                    // Calculate the time remaining until the tournament
                    var timeRemaining = tournamentDate - now;
                    
                    // Calculate the days, hours, minutes, and seconds remaining
                    var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
                    
                    // Display the countdown timer
                    document.getElementById("countdown_timer").innerHTML = "Starts in: " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
                    
                    // If the countdown is finished, display a message
                    if (timeRemaining < 0) {
                        clearInterval(countdown);
                        document.getElementById("countdown_timer").innerHTML = "The tournament has started!";
                    }
                }, 1000);
            });
        </script>

        <div class="space-x-4">
            <a href="{% url 'tourney_pages:learn_more' %}" class="text-xl bg-yellow-500 hover:bg-yellow-400 px-6 py-2 rounded-full transition duration-300 ease-in-out">Learn More</a>
            {% if user.is_authenticated %}
                {% if user.profile.is_judge %}
                    <a href="{% url 'tourney_scoring:dashboard' %}" class="text-xl bg-blue-500 hover:bg-blue-400 px-6 py-2 rounded-full transition duration-300 ease-in-out">Judging Dashboard</a>
                {% else %}
                    <a href="{% url 'tourney_reg:registration' %}" class="text-xl bg-green-500 hover:bg-green-400 px-6 py-2 rounded-full transition duration-300 ease-in-out">Register For Events Now</a>
                {% endif %}
            {% else %}
                <a href="{% url 'tourney_profiles:signup' %}" class="text-xl bg-green-500 hover:bg-green-400 px-6 py-2 rounded-full transition duration-300 ease-in-out">Sign Up</a>
            {% endif %}
        </div>
    </div>
</header>

{% if messages %}
<header id="additional_header_messages" class="bg-blue-500 text-white py-4">
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</header>
{% endif %}

{% endblock %}



{% block content %}
<section class="mb-8">
    <h1 class="text-3xl font-semibold">Welcome to the 6th Ohio International Chinese Martial Arts Tournament</h1>
    <p class="text-gray-600">Join us for an exciting event filled with skill, discipline, and camaraderie.</p>
</section>

<section class="mb-8">
    <h2 class="text-xl font-semibold">Event Details</h2>
    <p class="text-gray-600">Date: August 3, 2024</p>
    <p class="text-gray-600">Location: Mintonette Sports Facility</p>
    <p class="text-gray-600">Contact: ohiowushuacademy@gmail.com</p>
</section>

<!-- Instructions Section -->
<section class="mb-12">
    <h2 class="text-xl font-semibold mb-4">Instructions</h2>
    <ol class="list-decimal pl-6">
        <li>Create an account by clicking "Sign Up" in the navigation bar.</li>
        <li>Fill out the profile sign up form with your details.</li>
        <li>Verify your account through the confirmation email.</li>
        <li>Log in to register for specific events.</li>
        <li>Browse events and determine the events you are interested in</li>
        <li>Register for the events you wish to participate in by clicking "Event Registration" in the navigation bar.</li>
        <li>Arrive at the tournament venue on the scheduled day.</li>
    </ol>
</section>

<!-- News Section -->
<section class="mb-12">
    <h2 class="text-xl font-semibold mb-4">Latest News</h2>
    {% if news %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for item in news %}
            <div class="bg-white p-4 rounded-lg shadow-md">
                <h3 class="text-lg font-semibold">{{ item.title }}</h3>
                <p class="text-gray-600">{{ item.content }}</p>
            </div>
        {% endfor %}
        </div>
        <p class="mt-4 text-center">
            <a href="{% url 'tourney_pages:news' %}" class="text-blue-500 hover:underline">View All Updates</a>
        </p>
    {% else %}
        <p class="text-gray-600">No news updates at this time.</p>
    {% endif %}

</section>

<section>
    <h2 class="text-xl font-semibold mb-4">Photo Gallery</h2>
    <div class="grid grid-cols-2 gap-4">
        <div class="rounded-lg overflow-hidden">
            <img src="{% static 'tourney_pages/images/venue.jpg' %}" alt="Tournament Venue" class="w-full h-auto">
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="{% static 'tourney_pages/images/in-action.jpg' %}" alt="Participants in Action" class="w-full h-auto">
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="{% static 'tourney_pages/images/trophies.jpg' %}" alt="Trophies" class="w-full h-auto">
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="{% static 'tourney_pages/images/flyer.png' %}" alt="Flyer" class="w-full h-auto">
        </div>
        <!-- Add more images here -->
    </div>
</section>
{% endblock %}