{% extends 'base.html' %}

{% block content %}
<section class="mb-8">
    <h2 class="text-3xl font-semibold">General Information</h2>
    <p class="text-lg text-gray-600">
        The 6th Ohio International Chinese Martial Arts Tournament will be held on Saturday, August 3rd, 2024 at The Mintonette Sports Facility. This event is open to all styles of Chinese Martial Arts as well as all skill levels and ages. 
    </p>
    <p class="text-lg text-gray-600">Contact: ohiowushuacademy@gmail.com</p>
</section>

<section class="mb-8">
    <h2 class="text-3xl font-semibold">Important Deadlines</h2>
    <ul class="list-disc pl-6">
        <li class="text-lg text-gray-600">Early Registration Closes: July 17th, 2024</li>
        <li class="text-lg text-gray-600">Registration Closes: July 17th, 2024</li>
        <li class="text-lg text-gray-600">Virtual Competition Video Submission Closes: August 3rd, 2024</li>
    </ul>
</section>

<section class="mb-8">
    <h2 class="text-3xl font-semibold">Competition Rules</h2>
    <p class="text-lg text-gray-600">
        All other rules will be the same as last year. We will be using the US Wushu Union Rules, 2004 USWU Addendum, and IWUF Rules for all events.
    </p>
    <ul class="list-disc pl-6">
        <li class="text-lg text-gray-600">
            <a href="https://static.wixstatic.com/ugd/207407_c6b25866ff1e4aa8b0d25192a29c4dbf.pdf" class="text-blue-500 hover:underline">2019 Rules and Guide to Registration</a>
        </li>
        <li class="text-lg text-gray-600">
            <a href="https://docs.wixstatic.com/ugd/207407_2667a9c48ba94c6e9fb7d02d53cdfe62.pdf" class="text-blue-500 hover:underline">US Wushu Union Rules</a>
        </li>
        <li class="text-lg text-gray-600">
            <a href="https://static.wixstatic.com/ugd/207407_0bb791fec94f41bfb1f9210779e88f17.pdf" class="text-blue-500 hover:underline">2004 USWU Addendum</a>
        </li>
        <li class="text-lg text-gray-600">
            <a href="https://static.wixstatic.com/ugd/207407_c81fe876db244e99a060e2cb96fc4728.pdf" class="text-blue-500 hover:underline">IWUF</a>
        </li>
    </ul>
</section>

<section class="mb-8">
    <h2 class="text-3xl font-semibold">Tournament Schedule</h2>
    <table class="w-full border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-300 py-2 px-4">Time</th>
                <th class="border border-gray-300 py-2 px-4">Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-300 py-2 px-4">8:00 AM</td>
                <td class="border border-gray-300 py-2 px-4">Check In</td>
            </tr>
            <tr>
                <td class="border border-gray-300 py-2 px-4">9:00 AM</td>
                <td class="border border-gray-300 py-2 px-4">Opening Ceremony</td>
            </tr>
            <tr>
                <td class="border border-gray-300 py-2 px-4">10:00 AM</td>
                <td class="border border-gray-300 py-2 px-4">Competition Begins</td>
            </tr>
            <tr>
                <td class="border border-gray-300 py-2 px-4">1:00 PM</td>
                <td class="border border-gray-300 py-2 px-4">Lunch Break</td>
            </tr>
            <tr>
                <td class="border border-gray-300 py-2 px-4">2:00 PM</td>
                <td class="border border-gray-300 py-2 px-4">Competition Resumes</td>
            </tr>
            <tr>
                <td class="border border-gray-300 py-2 px-4">5:00 PM</td>
                <td class="border border-gray-300 py-2 px-4">Awards Ceremony</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="mb-8">
    <h2 class="text-3xl font-semibold">Competition Location</h2>
    <p class="text-lg text-red-600">The Mintonette Sports Facility - 1400 Polaris Parkway Columbus, OH 43240</p>
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Mintonette%20Sports%20-%201400%20Polaris%20Parkway%20Columbus,%20OH%2043240+(Mintonette%20Sports)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="600" height="450" style="border: 1px solid #000;" allowfullscreen="true" loading="lazy"></iframe>
{% endblock %}